@{
    
    ViewBag.Title = "Welcome to Adventure Works Photo Sharing";
}


    <div>
        <p>Welcome to Thanigaivel Photo Sharings! Use this site to share your adventures</p>
        <h2>Latest Photos</h2>
        @Html.Action("_PhotoGallery", "Photo", new { number =3})
    </div>
    
